<div class="row">
  <div class="col-md-3 offset-md-1">
    <div class="input-group">
      <input (keyup)="searchByName()" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
             class="form-control"
             placeholder="Search by name..." type="text">
      <div class="input-group-append">
        <span class="input-group-text"><fa-icon icon="search"></fa-icon></span>
      </div>
    </div>
  </div>

  <div class="offset-md-6 col-md-1">
    <a class="nav-link" routerLink="../new-transaction">
      <fa-icon icon="plus-square"></fa-icon>
    </a>

  </div>
</div>

<div class="list-group users-list"
     infiniteScroll
     infiniteScrollDistance="4"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScroll($event)">

  <div *ngFor="let item of transactions.data | async"
       class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <div class="col col-1">
        {{item.date.seconds*1000 | date: 'yyyy-MM-dd'}}
      </div>
      <div class="col col-md-8 text-col">
        <h5 class="mb-1">
          {{item.title}}
        </h5>
        <p>
          <app-number [value]="item.amount"></app-number>
        </p>
      </div>
      <div class="col col-md-2 actions-col">
        <button [routerLink]="'../details/'+item.id"
                class="btn btn-outline-primary action" type="button">
          <fa-icon icon="arrow-circle-right"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
