<div class="row">
  <div class="col-md-3 offset-md-1">
    <div class="input-group">
      <input (keyup)="searchByName()" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
             class="form-control"
             placeholder="Search by name..." type="text">
      <div class="input-group-append">
        <span class="input-group-text"><fa-icon icon="search"></fa-icon></span>
      </div>
    </div>
  </div>

  <div class="offset-md-6 col-md-1">
    <a class="nav-link" (click)="selectTransaction(null)">
      <fa-icon icon="plus-square"></fa-icon>
    </a>

  </div>
</div>

<div class="row"
     infiniteScroll
     infiniteScrollDistance="4"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScroll($event)">
  <div class="col col-md-8">
    <div *ngFor="let item of transactions.data | async"
         class="list-group-item list-group-item-action flex-column align-items-start"
         [ngClass]="selectedTransaction==item? 'highlight':''"
         (click)="selectTransaction(item)">
      <div class="row">
        <div class="col col-md-3">
          {{item.date?.seconds * 1000 | date: 'yyyy-MM-dd'}}
        </div>
        <div class="col col-md-3 text-col">
          <h5 class="mb-4">
            {{item.title}}
          </h5>
        </div>
        <div class="col col-md-3">
          <app-number [value]="item.amount"></app-number>
        </div>
        <!--
        <div class="col col-md-2 actions-col">
          <button [routerLink]="'../details/'+item.id"
                  class="btn btn-outline-primary action" type="button">
            <fa-icon icon="arrow-circle-right"></fa-icon>
          </button>
        </div>
        -->
      </div>
    </div>
  </div>
  <div class="col col-md-4">
    <app-transaction-details [transaction]="selectedTransaction"
                             (changed)="searchByName()">
    </app-transaction-details>
  </div>
</div>
