<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page" class="breadcrumb-item active">
        {{editMode ? 'Edit' : 'Create'}} Account
      </li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4"></div>
      <div class="col col-md-8">
        <form (ngSubmit)="onSubmit(accountForm.value)"
              [formGroup]="accountForm" class="edit-form" novalidate>

          <app-icon-picker [formGroup]="accountForm"
                           [options]="accountIconOptions"
                           controlName="icon"
                           colorControlName="color"
                           name="Icon">
          </app-icon-picker>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input class="form-control" formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error
                *ngIf="accountForm.get('name').hasError(validation.type) && (accountForm.get('name').dirty || accountForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input class="form-control" formControlName="starting_balance" matInput placeholder="Starting balance"
                     type="number">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.starting_balance">
              <mat-error
                *ngIf="accountForm.get('starting_balance').hasError(validation.type) && (accountForm.get('starting_balance').dirty || accountForm.get('starting_balance').touched)">
                {{validation.message}}
              </mat-error>
            </ng-container>
          </div>


          <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select
                        (selectionChange)="currencySelect($event)">
              <mat-select-trigger>
                <fa-icon [icon]="accountForm.get('currency_icon').value"></fa-icon>
                {{accountForm.get('currency').value}}
              </mat-select-trigger>
              <mat-option *ngFor="let item of currnecyOptions" [value]="item">
                <fa-icon [icon]="item.icon"></fa-icon>
                &nbsp;{{item.name}}
              </mat-option>
            </mat-select>
            <mat-hint>Pick currency for account</mat-hint>
          </mat-form-field>

          <div class="row" *ngIf="editMode">
            <div class="col-md-4">
              <button (click)="navigateBack()" mat-raised-button type="button">Cancel</button>
            </div>
            <div class="col-md-4">
              <button [disabled]="!accountForm.valid" color="primary" mat-raised-button type="submit">Save</button>
            </div>
            <div class="col-md-4">
              <button (click)="delete()" color="warn" mat-raised-button type="button">Delete</button>
            </div>
          </div>

          <div class="row" *ngIf="!editMode">
            <div class="offset-md-8 col-md-4">
              <button [disabled]="!accountForm.valid" color="primary" mat-raised-button type="submit">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
