<div class="row">
  <div class="col-md-3 offset-md-1">
    <div class="input-group">
      <input (keyup)="searchByName()" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
             class="form-control"
             placeholder="Search by name..." type="text">
      <div class="input-group-append">
        <span class="input-group-text"><fa-icon icon="search"></fa-icon></span>
      </div>
    </div>
  </div>

  <div class="offset-md-6 col-md-1">
    <a class="nav-link" routerLink="../new-account">
      <fa-icon icon="plus-square"></fa-icon>
    </a>

  </div>
</div>

<div class="list-group users-list">
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <div class="col col-md-2 image-col">

      </div>
      <div class="col col-md-8 text-col">
        <h5 class="mb-1">
          <fa-icon *ngIf="item.payload.doc.data().icon"
                   [icon]="item.payload.doc.data().icon"
                   [styles]="{'color': item.payload.doc.data().color}">
          </fa-icon>
          {{item.payload.doc.data().name}}
        </h5>
        <p>
          Balance: <app-number [value]="item.payload.doc.data().starting_balance"></app-number>
<!--          {{(item.payload.doc.data().starting_balance || 0) | number: '1.1-1'}}-->
          <fa-icon *ngIf="item.payload.doc.data().currency_icon"
                   [icon]="item.payload.doc.data().currency_icon">
          </fa-icon>
          {{item.payload.doc.data().currency}}
        </p>
      </div>
      <div class="col col-md-2 actions-col">
        <button (click)="viewDetails(item)" class="btn btn-outline-primary action" type="button">
          <fa-icon icon="arrow-circle-right"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
