<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create Account</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">

      </div>

      <div class="col col-md-8">

        <form class="create-form" [formGroup]="accountForm" novalidate (ngSubmit)="onSubmit(accountForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Name" class="form-control" formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error
                *ngIf="accountForm.get('name').hasError(validation.type) && (accountForm.get('name').dirty || accountForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Opening balance" type="number" class="form-control"
                     formControlName="balance">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.balance">
              <mat-error
                *ngIf="accountForm.get('balance').hasError(validation.type) && (accountForm.get('balance').dirty || accountForm.get('balance').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <mat-select matInput placeholder="Color" formControlName="color">
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.color">
              <mat-error
                *ngIf="accountForm.get('color').hasError(validation.type) && (accountForm.get('color').dirty || accountForm.get('color').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <app-icon-picker name="Icon" [options]="accountIconOptions"
                           [formGroup]="accountForm" controlName="icon"
                           [validationMessages]="validation_messages.icon">
          </app-icon-picker>

          <div class="row">
            <div class="offset-md-8 col-md-4">
              <button mat-raised-button color="primary" type="submit" [disabled]="!accountForm.valid">
                Create
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
