<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page" class="breadcrumb-item active">Create Account</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">

      </div>

      <div class="col col-md-8">

        <form (ngSubmit)="onSubmit(accountForm.value)" [formGroup]="accountForm" class="create-form" novalidate>

          <div class="form-group">
            <app-icon-picker [formGroup]="accountForm" [options]="accountIconOptions"
                             controlName="icon"
                             colorControlName="color"
                             name="Icon">
            </app-icon-picker>

            <mat-form-field class="input-style">
              <input class="form-control" formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error
                *ngIf="accountForm.get('name').hasError(validation.type) && (accountForm.get('name').dirty || accountForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input class="form-control" formControlName="balance" matInput placeholder="Opening balance"
                     type="number">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.balance">
              <mat-error
                *ngIf="accountForm.get('balance').hasError(validation.type) && (accountForm.get('balance').dirty || accountForm.get('balance').touched)">
                {{validation.message}}
              </mat-error>
            </ng-container>
          </div>


          <div class="row">
            <div class="offset-md-8 col-md-4">
              <button [disabled]="!accountForm.valid" color="primary" mat-raised-button type="submit">
                Create
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
