<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page" class="breadcrumb-item active">Edit User</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">

      </div>
      <div class="col col-md-8">

        <form (ngSubmit)="onSubmit(exampleForm.value)" [formGroup]="exampleForm" class="edit-form" novalidate>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input class="form-control" formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error
                *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input class="form-control" formControlName="balance" matInput placeholder="Balance" type="number">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.balance">
              <mat-error
                *ngIf="exampleForm.get('balance').hasError(validation.type) && (exampleForm.get('balance').dirty || exampleForm.get('balance').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input class="form-control" formControlName="color" matInput placeholder="color">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.color">
              <mat-error
                *ngIf="exampleForm.get('color').hasError(validation.type) && (exampleForm.get('color').dirty || exampleForm.get('color').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="row">
            <div class="col-md-4">
              <button (click)="navigateBack()" mat-raised-button type="button">Cancel</button>
            </div>
            <div class="col-md-4">
              <button [disabled]="!exampleForm.valid" color="primary" mat-raised-button type="submit">Save</button>
            </div>
            <div class="col-md-4">
              <button (click)="delete()" color="warn" mat-raised-button type="button">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
